header {
  display: flex;
  flex-direction: column;
  margin-top: 50px; /* Ensure it appears below the navbar */
  padding: 10px;
  background-color: #e0e0ff;
  color: #000080;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 5;
}

.h {
  font-size: 3vw;
  text-align: center;
  word-spacing: 3px;
  letter-spacing: 1.5px;
}

.h-p {
  text-align: center;
  margin: 0px;
}
