/* Modal Background */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

/* Modal Content */
.modal.show {
  opacity: 1;
  visibility: visible;
  animation: modalIn 0.5s ease-out;
}

.modal-content {
  background-color: #ffffff;
  color: #333;
  margin: 5% auto;
  padding: 30px;
  border: 1px solid #ddd;
  width: 80%;
  max-width: 500px;
  border-radius: 12px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
  text-align: center;
  position: relative;
  animation: fadeIn 0.5s ease-out;
}

/* Close Button */
.close {
  color: #888;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 20px;
}

.close:hover,
.close:focus {
  color: #000;
}

/* Loading Container */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 10;
}

/* Profile Info Styling */
.profile-info {
  margin-top: 20px;
  font-size: 25px;
  line-height: 1.6;
}

.profile-info p {
  margin: 10px 0;
  font-size: 25px;
}

.profile-info span {
  font-weight: bold;
  color: #000080;
  font-size: 25px;
}

/* Animations */
@keyframes modalIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes loadingSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Enhanced Loading Indicator */
.loading-indicator .Atom {
  animation: loadingSpin 1s linear infinite;
}

.seller-rating {
  font-size: 25px;
}

.rating-very-poor {
  color: #ff4c4c; /* Red */
}

.rating-poor {
  color: #ff6f6f; /* Light Red */
}

.rating-fair {
  color: #f2b632; /* Yellow */
}

.rating-good {
  color: #4caf50; /* Green */
}

.rating-excellent {
  color: #388e3c; /* Dark Green */
}
