.registration-form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px 40px;
  max-width: 450px;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
}

.registration-form-container h2 {
  margin: 0 0 20px;
  font-size: 24px;
  color: #003366;
  text-align: center;
}

.registration-form-container label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: #003366;
}

.registration-form-container input,
.registration-form-container select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #003366;
  border-radius: 4px;
  font-size: 16px;
  color: #003366;
  transition: border-color 0.3s ease;
  box-sizing: border-box;
}

.registration-form-container input:focus,
.registration-form-container select:focus {
  outline: none;
  border-color: #000080;
  box-shadow: 0 0 5px rgba(0, 102, 204, 0.2);
}

.registration-form-container select {
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='%23555' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
  padding-right: 30px;
}

.registration-form-container select:disabled {
  background-color: #f5f5f5;
  cursor: not-allowed;
}

.registration-form-container .error-message {
  color: #cc0000;
  font-size: 14px;
  margin-bottom: 15px;
}

.registration-form-container .button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.registration-form-container button {
  background-color: #000080;
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.registration-form-container button.cancel {
  background-color: #cccccc;
  margin-left: 10px;
}

.registration-form-container button:hover {
  background-color: #ffffff;
  border: rgb(0, 0, 140) solid 2px;
  color:#000080 ;
}

.registration-form-container button.cancel:hover {
  background-color: #999999;
}

.switch-form-btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  font-size: 14px;
  color: #000080;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: underline;
  transition: color 0.3s;
}
.switch-form-btn:hover {
  background-color: #ffffff;
  border: rgb(0, 0, 140) solid 1px;
  color:#000080 ;
}

#registration-form{
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}


